<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng kí tài khoản doanh nghiệp</title>

    <link rel="shortcut icon" type="image/png" href="images/icontitle.jpg" />
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/style1.css">
</head>

<body>



    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="/dangkidoanhnghiep">
                        <h2 class="form-title">Đăng kí tài khoản doanh nghiệp</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="ten1"  id="email"
                              required  placeholder="Nhập tên doanh nghiệp" />
                        </div>
                        <div class="form-group">
                            <input type="text"  required="true"  required  class="form-input" placeholder="Nhập địa chỉ" name="diachi1" />

                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input"  required  placeholder="Nhập Email" pattern="[A-Za-z]\w*@gmail.com$" title="Email phải có dạng a@gmail.com" name="email1" />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-input"  required pattern="^[0]\d{9}$" title="Bắt đầu là 0 và gồm 10 số " name="sdt1" id="re_password"
                                placeholder="Nhập số điện thoại" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input"  required  name="fax1" id="re_password"
                                placeholder="Nhập số Fax" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input"  required name="id1" id="re_password"
                                placeholder="Nhập Username" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input"  required pattern="(?=.*\d)(?=.*[a-z]).{7,}" title="Mật khẩu ít nhất là 7 kí tự và phải chứa ký tự số"  name="matkhau1" id="re_password"
                                placeholder="Nhập Password" />

                        </div>
                        <div class="form-group">
                            <label style="color: blue;">Chọn các dịch vụ</label>
                            <table class="table">
                                <tr>
                                    <th>Mã dịch vụ</th>
                                    <th>Tên dịch vụ</th>
                                    <th>Lựa chọn</th>
                                </tr>
                                <% listdichvu.forEach((dichvu)=>{ %>
                          
                                <tr>
                                  
                                    <td><%=dichvu.id%></td>
                                    <td><%=dichvu.ten%></td>
                                     <td>
                                        <input type="checkbox"  required  name="listdichvu" value="<%=dichvu.id%>"  class="form-check-input"><br>                                        
                                    </td>
                                   
                                </tr>
                                              
                                <% })%>
        

                            </table>

                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Đăng kí" />
                        </div>

                    </form>
                    <p class="loginhere">
                        Bạn đã có tài khoản? <a href="../dangnhap" class="loginhere-link">Đăng nhập tại đây</a>
                        Hoặc hủy?
                        <a href="/" class="loginhere-link">Thoát</a>
                    </p>
                </div>
            </div>
    </div>
    </div>
    </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>