<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng kí tài khoản khách hàng</title>
    <link rel="shortcut icon" type="image/png" href="images/icontitle.jpg"/>
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style1.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Đăng kí tài khoản</h2>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Nhập tên khách hàng"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="email" id="email" placeholder="Nhập số điện thoại"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="re_password" id="re_password" placeholder="Địa chỉ"/>
                        </div>
                        <div class="form-group">
                                <input type="text" class="form-input" name="re_password" id="re_password" placeholder="Nhập Username"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Nhập password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Đăng kí"/>
                            
                        </div>
                    </form>
                    <p class="loginhere">
                        Bạn đã có tài khoản? <a href="../dangnhap" class="loginhere-link">Đăng nhập tại đây</a>   Hoặc hủy? <a href="/" class="loginhere-link">Thoát</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>