<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Xem danh sách khách hàng</title>
<link href="css/theme2.css" rel="stylesheet" media="all">
</head>
<body>
    <html>
            <div class="main-content">
                    <div class="section__content section__content--p30">
                        <span class="icon mb-3 d-block flaticon-cardiogram"></span>
                        <h2 class="mb-4" style="text-align: center">Danh sách khách hàng</h2>
                        <table class="table table-dark">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Mã khách hàng</th>
                                    <th scope="col">Tên khách hàng</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Hóa đơn</th>
                        
                                </tr>
                            </thead>
                            <!--Load database tại đây-->
                            <tbody>
                               <tr>
                                   <td>aaaaa</td>
                                   <td>aaaaa</td>
                                   <td>aaaaa</td>
                                   <td>aaaaa</td>
                                   <td>aaaaa</td>
                               </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    </html>
</body>