<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Title Page-->
    <title>Xem danh sách khách hàng</title>
<link href="css/theme2.css" rel="stylesheet" media="all">
</head>
<body>
    <html>
            <div class="main-content">
                    <div class="section__content section__content--p30">
                        <span class="icon mb-3 d-block flaticon-cardiogram"></span>
                        <h2 class="mb-4" style="text-align: center">Danh sách khách hàng</h2>
                        <table class="table table-dark">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Mã khách hàng</th>
                                    <th scope="col">Tên khách hàng</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Số điện thoại</th>
                        
                                </tr>
                            </thead>
                            <!--Load database tại đây-->
                            <tbody>
                                <% ds.forEach((kh) =>{ %>

                               <tr>
                                   <td><%=kh.id%></td>
                                   <td><%=kh.ten%></td>
                                   <td><%=kh.email%></td>
                                   <td><%=kh.sdt%></td>
                               </tr>
                           <%  }) %>
                            </tbody>
                        </table>
                        <a href="../admin1" class="btn btn-danger">Trở về</a>
                    </div>
                </div>
    </html>
</body>